{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "css/home.css "%}>
</head>

<body>
    <h1>HOME</h1>
    <br>
    <a href="login">login</a>
    <br>
    <a href="signup">signup</a>
    <br>
    <a href="logout">logout</a>
    <br>
    <br> {% comment %}
    <h1>Data enter</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="p1">Product Name</label>
        <input type="text" id="p1" name="p1" />
        <br>
        <label for="p2">Product Name</label>
        <input type="text" id="p2" name="p2" />
        <br>
        <label for="p3">Product Name</label>
        <input type="text " id="p3 " name="p3" />
        <br>
        <label for="p4">Product Name</label>
        <input type="text" id="p4" name="p4" />
        <br>
        <input type="submit">
    </form> {% endcomment %}


</body>

</html>